body {
    margin: 0;
    padding: 0;
}

/* LINEAR GRADIENT */
.box:nth-child(1) {
    
    padding: 0 0 50% 0;

    background: #deb887; /* Very old browsers */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#deb887', 
                                                       endColorstr='#ffe4c4',
                                                       GradientType=0); /* IE6-9 */

    background: -moz-linear-gradient(top, 
                                     burlywood 0%,
                                     bisque 10%,
                                     floralwhite 20%,
                                     burlywood 30%,
                                     bisque 40%,
                                     floralwhite 50%,
                                     burlywood 60%,
                                     bisque 70%,
                                     floralwhite 80%,
                                     burlywood 90%,
                                     bisque 100%); /* FF3.6+ */

    background: -webkit-gradient(linear, 
                                 left top, 
                                 left bottom, 
                                 color-stop(0%, burlywood), 
                                 color-stop(10%, bisque), 
                                 color-stop(20%, floralwhite), 
                                 color-stop(30%, burlywood),
                                 color-stop(40%, bisque), 
                                 color-stop(50%, floralwhite), 
                                 color-stop(60%, burlywood), 
                                 color-stop(70%, bisque),
                                 color-stop(80%, floralwhite), 
                                 color-stop(90%, burlywood), 
                                 color-stop(100%, bisque)); /* Chrome, Safari4+ */

    background: -webkit-linear-gradient(top, 
                                        burlywood 0%,
                                        bisque 10%,
                                        floralwhite 20%,
                                        burlywood 30%,
                                        bisque 40%,
                                        floralwhite 50%,
                                        burlywood 60%,
                                        bisque 70%,
                                        floralwhite 80%,
                                        burlywood 90%,
                                        bisque 100%); /* Chrome10+, Safari5.1+ */

    background: -o-linear-gradient(top, 
                                   burlywood 0%,
                                   bisque 10%,
                                   floralwhite 20%,
                                   burlywood 30%,
                                   bisque 40%,
                                   floralwhite 50%,
                                   burlywood 60%,
                                   bisque 70%,
                                   floralwhite 80%,
                                   burlywood 90%,
                                   bisque 100%); /* Opera 11.10+ */

    background: -ms-linear-gradient(top, 
                                    burlywood 0%,
                                    bisque 10%,
                                    floralwhite 20%,
                                    burlywood 30%,
                                    bisque 40%,
                                    floralwhite 50%,
                                    burlywood 60%,
                                    bisque 70%,
                                    floralwhite 80%,
                                    burlywood 90%,
                                    bisque 100%); /* IE10+ */
    
    /*
    Reference:
    https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient */
    background: linear-gradient(to bottom, 
                                burlywood 0%,
                                bisque 10%,
                                floralwhite 20%,
                                burlywood 30%,
                                bisque 40%,
                                floralwhite 50%,
                                burlywood 60%,
                                bisque 70%,
                                floralwhite 80%,
                                burlywood 90%,
                                bisque 100%); /* W3C */
}



/* RADIAL GRADIENT */
.box:nth-child(2) {
    
    padding: 0 0 50% 0; 
    
    /*
    Reference:
    https://developer.mozilla.org/en-US/docs/Web/CSS/radial-gradient */
    background: radial-gradient(circle farthest-corner at 50% 50%, 
                                burlywood 0%, 
                                bisque 10%, 
                                floralwhite 20%,
                                burlywood 30%, 
                                bisque 40%, 
                                floralwhite 50%,
                                burlywood 60%, 
                                bisque 70%, 
                                floralwhite 80%,
                                burlywood 90%, 
                                bisque 100%); /* W3C */
    
}